
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$mainFont:  "Raleway", sans-serif;
$noteFont: "Cardo", serif;
$textColorLight: #fff;
$textColorDark: #000;
$textColorGrey: #6C7279;
$textColorPink: #FF4343;
$btnPinkColor: #FF4343;
$btnHoverColor: #E71414;
$mediaLinkInteractionColor: #FF4343;
$linkHoverColor: #BABBC5;
$linkActiveColor:#E71414;
$cardHoverColor: #FF4343;
$cardActiveColor:#E71414;
$headerUnderLineColor: #BABBC5;
$bgPurple: #5C3249;
$bgShadowDark: #252B49;
$textNameDark: #2D3033;
$borderLight: #C6CBCD;
$borderWhiteColor: #fff;
$footerBgColor: #353C65;
$footerBgColorDark: #2C3154;
$footerTextGrey: #808080;

@mixin font($textSize, $lineHeight, $fontWeight: 400){
    font-size: $textSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

%btn{
    @include font(24px, 28px, 900);
    color:$textColorLight;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $btnPinkColor;
    padding: 25px 0;
    border: none;
    max-width: 370px;
    width: 100%;
    transition: background-color 0.6s, box-shadow  0.2s;
}
    %btnHover{
        background-color: $btnHoverColor;
        
    }

    %btnActive{
        background-color: $btnPinkColor;
        box-shadow: 4px 4px 30px $btnPinkColor;
    }

    %mediaLink{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        border: 1px solid $borderLight;
        transition: border-color 0.6s, fill 0.6s;
    }

    %mediaLinkHover{
        border-color: $mediaLinkInteractionColor;
    }

    %mediaLinkActive{
        fill: $mediaLinkInteractionColor;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    border-bottom: 1px solid $headerUnderLineColor;
    padding: 38px 0 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &__logo{
        display: flex;
        max-width: 183px;
        width: 100%;
    }

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
    display: flex;
    gap:40px;

    &__link{
        color:$textColorLight;
        text-transform: capitalize; 
        @include font(13px, 15px, 700);
        text-decoration: none;

        &:hover{
        color:$linkHoverColor;
        }

        &:active{
            color:$linkActiveColor;
        }
    }
    
}
}



.banner{
    padding: 223px 0 126px;
    background-image: url(../src/img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;

    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $bgShadowDark;
        opacity: 0.8;
    }

    &__container{
        z-index: 1;
        position: relative;
    }

    &__title{
        @include font(64px, 75px, 900);
        text-transform: uppercase;
        color: $textColorLight;
        margin-bottom: 31px;
    }

    &__text{
        @include font(24px, 28px);
        margin-bottom: 79px;
        color:$textColorLight;
    }

    &__btn{
        @extend %btn;

        &:hover{
        @extend %btnHover;
        }

        &:active{
            @extend %btnActive;
        }
    }

    
}

.features{
    padding: 109px 0 116px;

    & .container{
        display: grid;
        gap:88px 31px;
        grid-template-columns: repeat(3, 370px);

    }
}

.feature{

      text-align: center;

    &__img{
        width: 100px;
        height: 100px;
        margin: 0 auto 51px;
        
    }

    &__title{
        @include font(24px, 28px, 900);
        text-transform: uppercase;
        color: $textColorDark;
        margin-bottom: 42px;
    }

    &__text{
        @include font(18px, 21px);
        color: $textColorGrey;
    }
}

.works{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 0;
}


.work{
    position: relative;
    cursor: pointer;

    

    &__img{
        width: 100%;
        height: 100%;
        border: 1px solid $borderWhiteColor;
    }

    &__info--hover{
        width: 100%;
        height: 100%;
        position: absolute;
        align-content: center;
        text-align: center;
        color: $textColorLight;
        visibility: hidden;
    }

    &__title{
        @include font(24px, 28px, 900);
        margin-bottom: 36px;
        text-transform: uppercase;
    }

    &__text{
        @include font(18px, 21px);
        text-transform: capitalize;
    }

    &:hover::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color:$cardHoverColor;
        opacity: 0.8;
         transition: all 0.5s ease-in;
    }

    &:hover &__info--hover, &:active &__info--hover{
        visibility:visible;
    }

     &:active::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color:$cardActiveColor;
        opacity: 0.8;
        transition: all 0.5s ease-in;
    }
}

.teammates{
    padding: 114px 0;

    & .container{
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap:30px;
    }

}

.teammate{

    &__img{
        width: 100%;
        margin-bottom: 30px;
    }

    &__name{
        @include font(24px, 28px, 700);
        text-transform: capitalize;
        color:$textNameDark;
        margin-bottom: 5px;
    }

    &__position{
        @include font(18px, 21px);
        color:$textColorPink;
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    &__description{
         @include font(18px, 21px);
        color:$textColorGrey;
        margin-bottom: 38px;
    }

    &__links{
        display: flex;
        gap: 5px;
    }

    &__link{
        @extend  %mediaLink;

        &:hover, &:active{
          @extend  %mediaLinkHover;
        }

        &:active .link__img{
           @extend  %mediaLinkActive;
        }
    }

    

}

.testimonials{
    background-color:$bgPurple;
}

.testimonial{
    display: flex;
    gap: 31px;


    &__img{
        flex: 0 1 570px;
        display: flex;
    }

    &__info{
        flex: 0 1 570px;
        padding: 116px 0;
        align-self: center;
        color:$textColorLight
    }

    &__text{
        @include font(36px, 49px);
        font-family: $noteFont;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    &__person{
        @include font(13px, 15px, 700);
        text-transform: uppercase;
    }
}

.download {
    text-align: center;
    padding: 132px 0 114px;
    
    &__title{
        @include font(30px, 35px, 500);
        text-transform: capitalize;
        margin-bottom: 22px;
    }

    &__text{
        @include font(18px, 21px, 700);
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__btn{
       @extend %btn;
    }

     &__btn:hover{
        @extend %btnHover;
    }

    &__btn:active{
        @extend %btnActive;
    }
}

.footer{
    padding: 71px 0 0;
    background-color:$footerBgColor;
            color: $textColorLight;
        text-align: center;
    

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:30px;
        margin-bottom: 71px;
    }

    &__title{
        @include font(18px, 21px, 700);
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    &__text{
       @include font(18px, 21px);
        text-transform: capitalize; 
    }

    &__wrapper-media{
        margin-top: 48px;
        display: flex;
        gap: 27px;
        justify-content:center;
    }

    &__link{
        @extend  %mediaLink;

        &:hover, &:active{
          @extend  %mediaLinkHover;
        }

        &:active .link__img{
           @extend  %mediaLinkActive;
        }
    }

    &__special .container{
        max-width: 400px;
        margin: 0 auto;
    }

    &__special{
        background-color: $footerBgColorDark;
        padding: 24px;
    }

    &__text-special{
        color:$footerTextGrey;
        @include font(18px, 21px);
        text-transform: capitalize;
    }

    &__color{
        color: $textColorLight;
    }

}
