
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$mainFont:  "Raleway", sans-serif;
$noteFont: "Cardo", serif;

$textColorLight: #fff;
$textColorDark: #000;
$textColorGrey: #6C7279;
$textColorPink: #FF4343;

$btnPinkColor: #FF4343;
$btnHoverColor: #E71414;

$mediaLinkInteractionColor: #FF4343;
$linkHoverColor: #BABBC5;
$linkActiveColor:#E71414;

$cardHoverColor: #FF4343;
$cardActiveColor:#E71414;

$headerUnderLineColor: #BABBC5;

$bgPurple: #5C3249;
$bgShadowDark: #252B49;

$textNameDark: #2D3033;

$borderLight: #C6CBCD;
$borderWhiteColor: #fff;

$footerBgColor: #353C65;
$footerBgColorDark: #2C3154;
$footerTextGrey: #808080;

$tablet: 1024px;
$mobile: 767px;

@mixin font($textSize, $lineHeight, $fontWeight: 400){
    font-size: $textSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

%btn{
    @include font(24px, 28px, 900);
    color:$textColorLight;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $btnPinkColor;
    padding: 26px 0;
    border: none;
    max-width: 370px;
    width: 100%;
    cursor: pointer;
    transition: background-color 1s, box-shadow 0.5s ;

    

    @media (max-width:$tablet){
        max-width: 314px;

    }
    @media (max-width:$mobile){
        max-width: 279px;
        padding: 15px 0;
    }

}
    %btnHover{
        background-color: $btnHoverColor;
    }

    %btnActive{
        background-color: $btnPinkColor;
        box-shadow: 4px 4px 30px $btnPinkColor;
       
        
    }

    %mediaLink{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        border: 1px solid $borderLight;
        transition: border-color 0.6s;
        cursor: pointer;
        
        @media (max-width:$tablet){
        width: 33px;
        height: 33px;
        }
        @media (max-width:$mobile){
            width: 39px;
            height: 39px;
        }
    }

    %mediaLinkHover{
        border-color: $mediaLinkInteractionColor;
    }

    %mediaLinkActive{
        fill: $mediaLinkInteractionColor;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
    @media (max-width:$mobile){
        padding: 0 20px;
    }


}

.header{
    border-bottom: 1px solid $headerUnderLineColor;
    padding: 38px 0 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    @media (max-width:$tablet){
        padding: 37px 0;
    }

    @media (max-width:$mobile){
        padding: 19px 0;
        border: none;
    }

    &__logo{
        display: flex;
        max-width: 183px;
        width: 100%;

         @media (max-width:$tablet){
            max-width: 181px;
        }

        @media (max-width:$mobile){
            max-width: 109px;
        }
    }

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        gap:40px;

        @media (max-width:$tablet){
            gap:25px;
        }

        @media (max-width:$mobile){
           display: none;
        }

        &__link{
            color:$textColorLight;
            text-transform: uppercase; 
            @include font(13px, 15px, 700);
            text-decoration: none;
            cursor: pointer;
            transition: color 0.8s;


         @media (max-width:$tablet){
            @include font(12px, 14px, 700);
        }


            &:hover{
            color:$linkHoverColor;
            }

            &:active{
                color:$linkActiveColor;
            }
        }       

    }
    .hamburger{
        background: transparent;
        border: none;
        cursor: pointer;
        display: none;

        @media (max-width:$mobile){
           display:flex;
        }
    }
}



.banner{
    padding: 223px 0 126px;
    background-image: url(../src/img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;

    @media (max-width:$tablet){
        padding-top: 257px;
    }

    @media (max-width:$mobile){
       padding: 106px 0 52px;
    }

    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $bgShadowDark;
        opacity: 0.8;
    }

    &__container{
        z-index: 1;
        position: relative;
    }

    &__title{
        @include font(64px, 75px, 900);
        text-transform: uppercase;
        color: $textColorLight;
        margin-bottom: 31px;
        
        @media (max-width:$tablet){
        @include font(48px, 56px, 900);
        margin-bottom: 61px;
        }

        @media (max-width:$mobile){
        @include font(36px, 42px, 900);
        margin-bottom: 41px;
        }
    }

    &__text{
        @include font(24px, 28px);
        margin-bottom: 79px;
        color:$textColorLight;

        @media (max-width:$tablet){
        @include font(18px, 21px);
        margin-bottom: 89px;
        }

        @media (max-width:$mobile){
        @include font(14px, 16px);
        margin-bottom: 59px;
        }
    }

    &__btn{
        @extend %btn;

        &:hover{
        @extend %btnHover;
        }

        &:active{
            @extend %btnActive;
        }
    }

    
}

.features{
    padding: 109px 0 116px;

    @media (max-width:$tablet){
        padding: 78px 0 80px;
    }
    @media (max-width:$mobile){
        padding: 40px 0 34px;
    }

    & .container{
        display: grid;
        gap:88px 31px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width:$tablet){
            gap:50px 20px;
        }
        @media (max-width:$mobile){
            grid-template-columns:  1fr;
            row-gap: 42px;
        }

    }
}

.feature{

      text-align: center;

    &__img{
        width: 100px;
        height: 100px;
        margin: 0 auto 51px;
        
        @media (max-width:$tablet){
            width: 85px;
            height: 85px;
            margin: 0 auto 44px;
        }
        @media (max-width:$mobile){
            width: 76px;
            height: 76px;
            margin: 0 auto 37px;
        }
        
    }

    &__title{
        @include font(24px, 28px, 900);
        text-transform: uppercase;
        color: $textColorDark;
        margin-bottom: 42px;
        @media (max-width:$tablet){
            @include font(18px, 21px, 900);
            margin-bottom: 23px;
        }
        @media (max-width:$mobile){
            margin-bottom: 8px;
        }
    }

    &__description{
        @include font(18px, 21px);
        color: $textColorGrey;
        @media (max-width:$tablet){
            @include font(14px, 16px);
        }

    }
}

.works{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    @media (max-width:$mobile){
        grid-template-columns: repeat(2, 1fr);
    }
}


.work{
    position: relative;
    cursor: pointer;
       

    &__img{
        width: 100%;
        height: 100%;
        border: 1px solid $borderWhiteColor;
    }

    &__content{
        width: 100%;
        height: 100%;
        position: absolute;
        align-content: center;
        text-align: center;
        color: $textColorLight;
        left: 0;
        top: 0;
        opacity: 0.8;
        transition: all 0.7s;  
        padding: 10px;
    }

    &__title{
        @include font(24px, 28px, 900);
        margin-bottom: 36px;
        text-transform: uppercase;
        visibility: hidden;
        transition: visibility 0.1s;

        @media (max-width:$tablet){
           @include font(18px, 21px, 900);
           margin-bottom: 22px;
        }
        @media (max-width:$mobile){
            margin-bottom: 7px;
        } 
    }

    &__text{
        @include font(18px, 21px);
        text-transform: capitalize;
        visibility: hidden;
        transition: visibility 0.1s;
        
        @media (max-width:$tablet){
           @include font(14px, 16px);
        }  
    }


    &:hover &__text, &:hover &__title{
        visibility:visible;
    }

     &:hover &__content{
        background-color:$cardHoverColor;
    }

     &:active &__content{
        background-color:$cardActiveColor;
    }
}

.teammates{
    padding: 114px 0;

    @media (max-width:$tablet){
        padding: 78px 0 ;
    }
    @media (max-width:$mobile){
        padding: 35px 0 41px;
    }

    & .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:30px;
        
        @media (max-width:$tablet){
            gap:25px;
        }
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
            row-gap: 56px;
        }
    }

}

.teammate{

    &__img{
        width: 100%;
        margin-bottom: 30px;
        aspect-ratio: 1/1;
        object-fit: cover;
           
        @media (max-width: $tablet){
            margin-bottom: 25px;
        }
        @media (max-width: $mobile){
            aspect-ratio: 280 / 227;
            object-position: center;
        }
    }

    &__name{
        @include font(24px, 28px, 700);
        text-transform: capitalize;
        color:$textNameDark;
        margin-bottom: 5px;
       
        @media (max-width:$tablet){
            @include font(18px, 21px, 700);
        }

    }

    &__position{
        @include font(18px, 21px);
        color:$textColorPink;
        margin-bottom: 18px;
        text-transform: uppercase;
        
        @media (max-width:$tablet){
            @include font(14px, 16px);
            margin-bottom: 22px;
        }
        @media (max-width:$mobile){
            margin-bottom: 38px;
        }
    }

    &__description{
        @include font(18px, 21px);
        color:$textColorGrey;
        margin-bottom: 38px;

        @media (max-width:$tablet){
            @include font(14px, 16px);
            margin-bottom: 39px;
        }
        @media (max-width:$mobile){
            margin-bottom: 55px;
        }
    }

    &__links{
        display: flex;
        gap: 5px;
    }

    &__link{
        @extend  %mediaLink;

        &:hover, &:active{
          @extend  %mediaLinkHover;
        }

        &:active .link__img{
           @extend  %mediaLinkActive;
        }

        .link__img{
            transition: fill 0.8s;
        }
    }

    

}

.testimonials{
    background-color:$bgPurple;
}

.testimonial{
    display: flex;
    gap: 31px;

    @media (max-width:$tablet){
        gap: 19px;
        }
    @media (max-width:$mobile){
        display: block;
        text-align: center;
        }


    &__img{
        flex: 0 1 570px;
        display: flex;
        aspect-ratio: 1.2/1;
        object-fit: cover;

        @media (max-width:$tablet){
            aspect-ratio: 1.45/1;
            flex: 0 1 482px;
            max-width: 482px;
        }
        @media (max-width:$mobile){
            aspect-ratio: 1.28/1;
            max-width: 280px;
            align: center;
            margin: 0 auto;
        }


    }

    &__info{
        padding: 116px 0;
        align-self: center;
        color:$textColorLight;

        @media (max-width:$tablet){
            padding: 110px 0 103px;
        }
        @media (max-width:$mobile){
            padding: 25px 0 95px;
        }

    }

    &__text{
        @include font(36px, 49px);
        font-family: $noteFont;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 8px;

        @media (max-width:$tablet){
            @include font(24px, 32px);
        }

        @media (max-width:$mobile){
            margin-bottom: 15px;
        }
        
    }

    &__person{
        @include font(13px, 15px, 700);
        text-transform: uppercase;

        @media (max-width:$tablet){
            @include font(12px, 14px);
        }


    }
}

.download {
    text-align: center;
    padding: 132px 0 114px;


    @media (max-width:$tablet){
        padding: 93px 0 78px;
    }

    @media (max-width:$mobile){
        padding: 64px 0 45px;
    }
 
    
    &__title{
        @include font(30px, 35px, 500);
        text-transform: capitalize;
        margin-bottom: 22px;

        @media (max-width:$tablet){
            @include font(24px, 28px, 500);
            margin-bottom: 21px;
        }

        @media (max-width:$mobile){
            @include font(18px, 21px, 500);
            margin-bottom: 11px;
        }
    }

    &__text{
        @include font(18px, 21px, 700);
        text-transform: uppercase;
        margin-bottom: 50px;

        @media (max-width:$tablet){
            @include font(14px, 16px, 700);
            margin-bottom: 46px;
        }

        @media (max-width:$mobile){
            @include font(13px, 15px, 700);
            margin-bottom: 13px;
        }
    }

    &__btn{
       @extend %btn;

        @media (max-width:$mobile){
            @include font(18px, 21px, 900);
            max-width: 280px;
            padding: 26px 0;
    }

    }

     &__btn:hover{
        @extend %btnHover;
    }

    &__btn:active{
        @extend %btnActive;
    }
}

.footer{
    padding-top: 71px;
    background-color:$footerBgColor;
            color: $textColorLight;
        text-align: center;

        @media (max-width:$tablet){
            padding-top: 46px;
        }

        @media (max-width:$mobile){
            padding-top: 34px;
        }
    

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:30px;
        margin-bottom: 71px;

        @media (max-width:$tablet){
            gap:20px;
            margin-bottom: 41px;
        }

        @media (max-width:$mobile){
            grid-template-columns:1fr;
            row-gap:64px;
            margin-bottom: 38px;
        }
    
    }

    &__title{
        @include font(18px, 21px, 700);
        text-transform: uppercase;
        margin-bottom: 28px;
        
        @media (max-width:$tablet){
            @include font(14px, 16px, 700);
            margin-bottom: 17px;
        }

        @media (max-width:$mobile){
            margin-bottom: 34px;
        }
    }

    &__text{
       @include font(18px, 21px);
        text-transform: capitalize; 

        @media (max-width:$tablet){
            @include font(14px, 16px);
        }

    }

    &__wrapper-media{
        margin-top: 48px;
        display: flex;
        gap: 27px;
        justify-content:center;

        @media (max-width:$tablet){
            gap: 23px;
            margin-top: 32px;
        }

        @media (max-width:$mobile){
            gap: 16px;
            margin-top: 36px;
        }
    }

    &__link{
        @extend  %mediaLink;

        &:hover, &:active{
          @extend  %mediaLinkHover;
        }

        &:active .footer__media{
           @extend  %mediaLinkActive;
        }

        .footer__media{
           transition: fill 0.8s;
        }
         
    }



    &__special .container{
        max-width: 400px;
        margin: 0 auto;
    }

    &__special{
        background-color: $footerBgColorDark;
        padding: 24px 0;
        
        @media (max-width:$tablet){
            padding: 14px 0;
        }

        @media (max-width:$mobile){
            padding: 29px 0;
        }
    }

    &__text-special{
        color:$footerTextGrey;
        @include font(18px, 21px);
        text-transform: capitalize;
        
        @media (max-width:$tablet){
            @include font(14px, 16px);
        }
    }

    &__color{
        color: $textColorLight;
    }

}

